<% content_for :main_content do %>
    <div class="container mx-auto mt-8 mb-5">
    <h1 class="text-4xl md:text-5xl font-semibold mb-6 text-center">Licensing Information</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">User-Generated Content</h2>
        <p class="mb-4">
            All confessions submitted by users to Confessions Website are considered user-generated content. By submitting a confession, users grant Confessions Website a non-exclusive, royalty-free, perpetual, irrevocable, and fully sublicensable license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content worldwide in any media.
        </p>
        
        <h2 class="text-2xl font-semibold mb-4">Third-Party Resources</h2>
        <p class="mb-4">
            Confessions Website may use third-party libraries, frameworks, or resources to enhance its functionality and appearance. These resources are subject to their respective licensing terms, which may require attribution or impose certain restrictions on use. Please refer to the documentation of each resource for more information.
        </p>
        
        <h2 class="text-2xl font-semibold mb-4">License Agreement</h2>
        <p class="mb-4">
            By using Confessions Website, you agree to abide by the licensing terms described above. Failure to comply with these terms may result in the removal of user-generated content or other actions deemed necessary by Confessions Website administrators.
        </p>
        
        <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
        <p class="mb-4">
            If you have any questions or concerns regarding the licensing terms of Confessions Website or the use of user-generated content, please contact us at <a href="mailto:contact@confessionswebsite.com">contact@confessionswebsite.com</a>.
        </p>
    </div>
</div>
<%end%>