<% content_for :main_content do %>

<div class="container mx-auto mt-8 mb-5">
    <h1 class="text-4xl md:text-5xl font-semibold mb-6 text-center">Privacy Policy</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Information We Collect</h2>
        <p class="mb-4">Confessions Website collects anonymous confessions submitted by users. These confessions may include personal thoughts, feelings, experiences, or observations.</p>
        
        <h2 class="text-2xl font-semibold mb-4">How We Use Your Information</h2>
        <p class="mb-4">The information collected through Confessions Website is used solely for the purpose of displaying confessions to other users and facilitating interaction within the community. We do not share or sell this information to third parties.</p>
        
        <h2 class="text-2xl font-semibold mb-4">Data Security</h2>
        <p class="mb-4">Confessions Website takes the security of user data seriously. We implement measures to protect against unauthorized access, alteration, disclosure, or destruction of information.</p>
        
        <h2 class="text-2xl font-semibold mb-4">Children's Privacy</h2>
        <p class="mb-4">Confessions Website is not intended for use by children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe your child has provided us with personal information, please contact us to have it removed.</p>
        
        <h2 class="text-2xl font-semibold mb-4">Changes to This Privacy Policy</h2>
        <p class="mb-4">Confessions Website may update this Privacy Policy from time to time. Any changes will be posted on this page, and the effective date will be updated accordingly. We encourage you to review this Privacy Policy periodically for any changes.</p>
    </div>
</div>


<%end%>